<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp29FEFE013766054198F016C91B98E83A" Guid="{E9FBBCE4-7380-4C91-8FCC-4C2D0BD8FC92}">
                <File Id="filE6DB99EEC2FFFDF3136E29570EDD510F" KeyPath="yes" Source="$(var.HostFileDir)\InstallUtil.InstallLog" />
            </Component>
            <Component Id="cmp33D2F1F6B7CCFDFB41C085CDB27215EC" Guid="{87A7C519-879D-4335-908E-75AE97A564E5}">
                <File Id="fil590D7EE9FAC81B43FD6F9723C7E4DF25" KeyPath="yes" Source="$(var.HostFileDir)\Spike.ConsoleApp.exe" />
                <wix:ServiceInstall Id="ServiceInstaller" Type="ownProcess" Name="[SERVICENAME]" DisplayName="[SERVICEDESCRIPTION]" Description="[SERVICEDESCRIPTION]" Start="auto" Account="[SERVICEACCOUNT]" Password="[SERVICEPASSWORD]" ErrorControl="ignore" Interactive="no" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi" />
                <wix:ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="[SERVICENAME]" Wait="yes" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi" />
            </Component>
            <Component Id="cmp0038A8639B516A1188F23DA7B86BFF34" Guid="{E7A9BEAD-C7A0-404A-B409-9B30101CFD3C}">
                <File Id="fil53F325419C1560F2B167720F9A578648" KeyPath="yes" Source="$(var.HostFileDir)\Spike.ConsoleApp.exe.config" />
            </Component>
            <Component Id="cmp2FF4461321CD307946C7F9B8F3AF6DDE" Guid="{3D6504C8-9A01-4A22-BFBE-865593F0FF7F}">
                <File Id="fil8E386E364D87D761A49C9FEF0299FB7F" KeyPath="yes" Source="$(var.HostFileDir)\Spike.ConsoleApp.InstallLog" />
            </Component>
            <Component Id="cmpF93F03ABFA1335976222C66DC52283AE" Guid="{76F3503F-4729-4893-8723-4EF5ACE7F681}">
                <File Id="fil05273342663D2343BABBB7E8CEF02AAC" KeyPath="yes" Source="$(var.HostFileDir)\Spike.Contracts.dll" />
            </Component>
            <Component Id="cmp88E60BBFD70EBCB0662B571FAE6A0914" Guid="{A450084D-C2F2-432C-B047-1235DB9A51EE}">
                <File Id="filCF79BEDDC8B83181D9FA4C5FA9260CB8" KeyPath="yes" Source="$(var.HostFileDir)\Spike.Model.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="C_SERVICE_CONTENT">
            <ComponentRef Id="cmp29FEFE013766054198F016C91B98E83A" />
            <ComponentRef Id="cmp33D2F1F6B7CCFDFB41C085CDB27215EC" />
            <ComponentRef Id="cmp0038A8639B516A1188F23DA7B86BFF34" />
            <ComponentRef Id="cmp2FF4461321CD307946C7F9B8F3AF6DDE" />
            <ComponentRef Id="cmpF93F03ABFA1335976222C66DC52283AE" />
            <ComponentRef Id="cmp88E60BBFD70EBCB0662B571FAE6A0914" />
        </ComponentGroup>
    </Fragment>
</Wix>