<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpFED9CE4C040C6D017106CB6B92C2F157" Guid="{5BB3A349-6748-4F92-ABBF-C62B7F70871D}">
                <File Id="fil43F031812C2D8647225696DDDF358FCA" KeyPath="yes" Source="$(var.HostFileDir)\packages.config" />
            </Component>
            <Component Id="cmp499FA9F4E97AA49186F25EE3A6EAC0EE" Guid="{57B7083D-1B14-4884-A40F-6D10FB66D2B3}">
                <File Id="fil68348A46D8B1AAEEAB19FD42EBFB715C" KeyPath="yes" Source="$(var.HostFileDir)\PrecompiledApp.config" />
            </Component>
            <Component Id="cmpFB33635B7D7AF5906B5DFB25D7E4F343" Guid="{C37B100B-6445-4369-97C2-067A4DD6B2E9}">
                <File Id="fil0AB648957C4B57849C7F7229ADDD83F2" KeyPath="yes" Source="$(var.HostFileDir)\Web.config" />
            </Component>
            <Directory Id="dirBD8892FBCC64DA5924D7F747259B8B87" Name="bin">
                <Component Id="cmpA426106E50E83F038FBE746C1E09504B" Guid="{24E0F500-8A46-4259-AF0B-EBE21D480544}">
                    <File Id="fil2068C2DE7BA3DCB84001A0873DD12263" KeyPath="yes" Source="$(var.HostFileDir)\bin\Antlr3.Runtime.dll" />
                </Component>
                <Component Id="cmp8E70A69C787A24DEABF50DBC055F2454" Guid="{405032EA-D7BB-48E7-BEB4-CE30162688AE}">
                    <File Id="fil607DC7122A4FE53BFE1678EBD9ACC22C" KeyPath="yes" Source="$(var.HostFileDir)\bin\App_global.asax.compiled" />
                </Component>
                <Component Id="cmp0C78B5035479D7BD5F7ADB992B0A7144" Guid="{9866CE17-37C0-4C46-9BB8-08450E07D04C}">
                    <File Id="fil04DC522853B2F9D45E5575E8D923D012" KeyPath="yes" Source="$(var.HostFileDir)\bin\App_global.asax.dll" />
                </Component>
                <Component Id="cmp07611B326A04CC915643B459B9D964F5" Guid="{F520FF80-F532-4B1F-BA2A-60ABCA432DC2}">
                    <File Id="filD78A4D8ED06FAA86C50CEDD76249E5D0" KeyPath="yes" Source="$(var.HostFileDir)\bin\Spike.Contracts.dll" />
                </Component>
                <Component Id="cmp5B1BFE2AF16ECA46AFE32490C43013F8" Guid="{7A7B7ECC-2394-46C0-A9E1-41A6C001C43B}">
                    <File Id="filB61855E06F4EA4459F7FC99636022FC7" KeyPath="yes" Source="$(var.HostFileDir)\bin\Spike.Model.dll" />
                </Component>
                <Component Id="cmp9C290EAD08A9E4A57535FAE5A38F3D3F" Guid="{3EBFDBAF-687B-4A54-9B7F-368ED9DBE11B}">
                    <File Id="fil978A201D3E40D86E40DEBEE1D61A58A8" KeyPath="yes" Source="$(var.HostFileDir)\bin\Spike.Web.dll" />
                </Component>
                <Component Id="cmp703C2CA9CED6F3E7FDFB80ED8CC8013B" Guid="{49459BB8-7ED5-43AD-A5DC-77FB17BF99A4}">
                    <File Id="filB0554C99199765789F311022C5041355" KeyPath="yes" Source="$(var.HostFileDir)\bin\System.Web.Helpers.dll" />
                </Component>
                <Component Id="cmp5FFDB77ADD8BE767FEDFE1EB9C1D96AA" Guid="{3E2C5862-58AF-491A-B716-653464993C03}">
                    <File Id="filE2744DC455CD0226D8C4859C78C12689" KeyPath="yes" Source="$(var.HostFileDir)\bin\System.Web.Mvc.dll" />
                </Component>
                <Component Id="cmp6A31FB8007844E13E98BD2057F458827" Guid="{2E5C9B68-5DDE-492E-83EA-1ED463D95630}">
                    <File Id="fil57A989C4CFAB42F2C1A989306D96AFC0" KeyPath="yes" Source="$(var.HostFileDir)\bin\System.Web.Optimization.dll" />
                </Component>
                <Component Id="cmp3182FCF76998E248700F31AABB60E417" Guid="{F1ABC590-6E9A-452D-8100-900B03A16378}">
                    <File Id="filBF86D36DABD170B8862C6E72815E4859" KeyPath="yes" Source="$(var.HostFileDir)\bin\System.Web.Razor.dll" />
                </Component>
                <Component Id="cmp842642B1232B86DA834C9078E71F88C3" Guid="{AB9F0907-ED04-4963-B523-A369E3E9EBC9}">
                    <File Id="fil60E9F6B488DA731453D7943D606133C7" KeyPath="yes" Source="$(var.HostFileDir)\bin\System.Web.Webpages.Deployment.dll" />
                </Component>
                <Component Id="cmpF6AEA804827688B9F7DBBED6C29444E7" Guid="{0F3F68A1-66C4-4578-9144-A3A2F1F60636}">
                    <File Id="fil127C889B4DBBC550A438ED968F9F4F57" KeyPath="yes" Source="$(var.HostFileDir)\bin\System.Web.Webpages.dll" />
                </Component>
                <Component Id="cmpEBD39ED3418F3B8CF834F6592C6EA4A6" Guid="{40A61DB8-BC03-4FA0-A60C-6163B98390D3}">
                    <File Id="fil84DBC096B189627729D1844612D84064" KeyPath="yes" Source="$(var.HostFileDir)\bin\System.Web.Webpages.Razor.dll" />
                </Component>
                <Component Id="cmp1D6184B64F3F1969AF56912F31422062" Guid="{E6DA367B-DD25-40B2-85DE-0A437CB8C893}">
                    <File Id="fil4738D99EE8C94A9F1F6B77A9CEC21B43" KeyPath="yes" Source="$(var.HostFileDir)\bin\WebGrease.dll" />
                </Component>
            </Directory>
            <Directory Id="dir3B24C977B030062216D87253D9E23E51" Name="Content">
                <Component Id="cmpD3A44FF8DA1E432067794E0179AD51D5" Guid="{C26B3D5B-7E8B-4E67-A833-71CA37DE245B}">
                    <File Id="filD8AE4BC3843528B87AF632A56153B18F" KeyPath="yes" Source="$(var.HostFileDir)\Content\site.css" />
                </Component>
                <Directory Id="dir80F411DF9F1512C9DCFB1CBF0FCF7BEF" Name="images">
                    <Component Id="cmp79B7F61C30809AE6A79FA8AD3C428A3C" Guid="{6593CA4B-D861-472B-BEF4-EA02388305D1}">
                        <File Id="fil8223AEF3B1450FBFE37EE3D14C7B2649" KeyPath="yes" Source="$(var.HostFileDir)\Content\images\header.jpg" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir44C6187D68B2EA15E8619E5445C24FCE" Name="Scripts">
                <Component Id="cmpA9817127C006DEA4827B296EB1992CD0" Guid="{98AD1867-B7E6-4DE8-B148-82AD83504C4D}">
                    <File Id="filDC14772EA0A909E89F55E6C4DC175B12" KeyPath="yes" Source="$(var.HostFileDir)\Scripts\common.js" />
                </Component>
                <Component Id="cmp5BA5155A22EC930372A3872E954C6FBE" Guid="{7F9B29CF-AC95-41FD-9E7E-44F7BAC69A4B}">
                    <File Id="fil5BC62C0AA390421D4E1361B0F279869C" KeyPath="yes" Source="$(var.HostFileDir)\Scripts\jquery-2.1.3.js" />
                </Component>
                <Component Id="cmp4228F1AAA885F23184BB550FF239AF7D" Guid="{97B49D72-3335-474C-A283-10B1583C539D}">
                    <File Id="filC19F93EF68BEEEA68B1F097907C7814A" KeyPath="yes" Source="$(var.HostFileDir)\Scripts\jquery-2.1.3.min.js" />
                </Component>
                <Component Id="cmp3B131F584240915E99DE295C2014FEFE" Guid="{13C0F72C-AE19-430A-B2EF-F5DD3CD040FF}">
                    <File Id="fil946B786A0016A82470425E5985370A60" KeyPath="yes" Source="$(var.HostFileDir)\Scripts\jquery-2.1.3.min.map" />
                </Component>
                <Component Id="cmpFFCFBE1A38323DC1E92C9A7B39761FB8" Guid="{09718383-4FAD-4DCF-B80B-73D0F67DD201}">
                    <File Id="fil0A2FA91E73CE7F1889FDFE2D6BD745EA" KeyPath="yes" Source="$(var.HostFileDir)\Scripts\knockout-3.2.0.debug.js" />
                </Component>
                <Component Id="cmpC5D539202C344F242B251D553B815391" Guid="{C0699024-26D3-4A8F-81F4-4AD7D542AF23}">
                    <File Id="fil00465BA6A0F3B676340F0F2A7074D9E9" KeyPath="yes" Source="$(var.HostFileDir)\Scripts\knockout-3.2.0.js" />
                </Component>
                <Directory Id="dirDA08754483D9A137B64451068E36269D" Name="Pages">
                    <Component Id="cmpEF93BDCE120578036C1579D6D1DFA527" Guid="{1ED62003-59AC-47D8-8758-F4E599E3D281}">
                        <File Id="fil4F9241BB430F75ADC67EF88B31D78C98" KeyPath="yes" Source="$(var.HostFileDir)\Scripts\Pages\home.js" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dirDB682B6153BD5D4BCAB78F336C5994F0" Name="Views">
                <Component Id="cmp7CBDC7B002CF3B095E1D3BF332F38641" Guid="{F9528CA1-1FA2-40B2-A8C1-C681D14D95BE}">
                    <File Id="fil856A155EEAEE7FBB0EBF6AF3BDF48D1F" KeyPath="yes" Source="$(var.HostFileDir)\Views\web.config" />
                </Component>
                <Directory Id="dir88934B450FA42841EF447477A73B0881" Name="Home">
                    <Component Id="cmpBB670D49B6C07B3408B61268E27E33CA" Guid="{2D16436F-C5AC-437B-AB79-D5F66465E669}">
                        <File Id="fil8B4C4B6A198E00B91FFFF18B03061AC1" KeyPath="yes" Source="$(var.HostFileDir)\Views\Home\Index.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dir2246C77BF8248389596A421EDB0FFDEF" Name="Shared">
                    <Component Id="cmpAE199113591C9A84FB87557594D8EDCB" Guid="{28F3BDC4-679E-4445-9A2B-8D1455C4720E}">
                        <File Id="filE98CBFAC9E5BD051167AA52F84DD8011" KeyPath="yes" Source="$(var.HostFileDir)\Views\Shared\_Layout.cshtml" />
                    </Component>
                    <Component Id="cmp9B1B20E400D441A7E7A412B5769A875A" Guid="{8E0F7C42-AD83-45B5-8ABC-D95395DB35B7}">
                        <File Id="filB8D3C72BFA3D5082632B0D30E8D07731" KeyPath="yes" Source="$(var.HostFileDir)\Views\Shared\_Menu.cshtml" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="C_WEB_CONTENT">
            <ComponentRef Id="cmpFED9CE4C040C6D017106CB6B92C2F157" />
            <ComponentRef Id="cmp499FA9F4E97AA49186F25EE3A6EAC0EE" />
            <ComponentRef Id="cmpFB33635B7D7AF5906B5DFB25D7E4F343" />
            <ComponentRef Id="cmpA426106E50E83F038FBE746C1E09504B" />
            <ComponentRef Id="cmp8E70A69C787A24DEABF50DBC055F2454" />
            <ComponentRef Id="cmp0C78B5035479D7BD5F7ADB992B0A7144" />
            <ComponentRef Id="cmp07611B326A04CC915643B459B9D964F5" />
            <ComponentRef Id="cmp5B1BFE2AF16ECA46AFE32490C43013F8" />
            <ComponentRef Id="cmp9C290EAD08A9E4A57535FAE5A38F3D3F" />
            <ComponentRef Id="cmp703C2CA9CED6F3E7FDFB80ED8CC8013B" />
            <ComponentRef Id="cmp5FFDB77ADD8BE767FEDFE1EB9C1D96AA" />
            <ComponentRef Id="cmp6A31FB8007844E13E98BD2057F458827" />
            <ComponentRef Id="cmp3182FCF76998E248700F31AABB60E417" />
            <ComponentRef Id="cmp842642B1232B86DA834C9078E71F88C3" />
            <ComponentRef Id="cmpF6AEA804827688B9F7DBBED6C29444E7" />
            <ComponentRef Id="cmpEBD39ED3418F3B8CF834F6592C6EA4A6" />
            <ComponentRef Id="cmp1D6184B64F3F1969AF56912F31422062" />
            <ComponentRef Id="cmpD3A44FF8DA1E432067794E0179AD51D5" />
            <ComponentRef Id="cmp79B7F61C30809AE6A79FA8AD3C428A3C" />
            <ComponentRef Id="cmpA9817127C006DEA4827B296EB1992CD0" />
            <ComponentRef Id="cmp5BA5155A22EC930372A3872E954C6FBE" />
            <ComponentRef Id="cmp4228F1AAA885F23184BB550FF239AF7D" />
            <ComponentRef Id="cmp3B131F584240915E99DE295C2014FEFE" />
            <ComponentRef Id="cmpFFCFBE1A38323DC1E92C9A7B39761FB8" />
            <ComponentRef Id="cmpC5D539202C344F242B251D553B815391" />
            <ComponentRef Id="cmpEF93BDCE120578036C1579D6D1DFA527" />
            <ComponentRef Id="cmp7CBDC7B002CF3B095E1D3BF332F38641" />
            <ComponentRef Id="cmpBB670D49B6C07B3408B61268E27E33CA" />
            <ComponentRef Id="cmpAE199113591C9A84FB87557594D8EDCB" />
            <ComponentRef Id="cmp9B1B20E400D441A7E7A412B5769A875A" />
        </ComponentGroup>
    </Fragment>
</Wix>