<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    
    <!-- Requires reference to WixUIExtension  -->
    <UI Id="UX_Flow">

      <!-- WIX UI Dialogs -->
      <UIRef Id="WixUI_FeatureTree" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <!-- Custom Settings Dialog -->
      <DialogRef Id="SettingsDialog" />

      <!-- WIX UI Dialogs -->
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="SettingsDialog" Order="3">LicenseAccepted = "1"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SettingsDialog">1</Publish>
    </UI>
    
	</Fragment>
</Wix>