<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Settings\Constants.wxi ?>
 
    
    <!--NEVER Change the upgrade code -->
    <?define UpdgradeCode="339B11B5-40C0-43A0-AE98-FE65EC6029D2" ?>
      
    <Product Id="$(var.ProductId)" Name="$(var.ProductName)" Language="1033" Version="1.0.0.0" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpdgradeCode)">
      <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />
      <?include Settings\Configuration.wxi ?>
      <?include Settings\Properties.wxi ?>

		  <MajorUpgrade AllowDowngrades="no" Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />
		  <MediaTemplate />
      
      <!-- Verify that IIS is installed else exit -->
      <Property Id="IIS_MAJOR_VERSION">
          <RegistrySearch Id="CheckIISVersion" Root="HKLM"  Type="raw" Key="SOFTWARE\Microsoft\InetStp" Name="MajorVersion" Win64="yes" />
      </Property>
      <Condition Message="IIS must be installed">Installed OR IIS_MAJOR_VERSION</Condition>
      
      <!-- Find IIS Root directory and exit if not available -->
      <Property Id="IISROOT">
          <RegistrySearch Id="IISROOT" Root="HKLM" Type="directory" Key="SOFTWARE\Microsoft\InetStp" Name="PathWWWRoot" Win64="yes" />
      </Property>
      <Condition Message="IIS Does not seem to be installed correctly (Root directory missing).">Installed OR IISROOT</Condition>
      
      <!-- Set the install destination folder structure -->
      <Directory Id="TARGETDIR" Name="SourceDir">
          <Directory Id="IISROOT" Name="IISROOT">
              <Directory Id="INSTALLLOCATION" Name="$(var.VirtualDir)">
                <Directory Id="Env" Name="Env" />
                <Directory Id="Bin" Name="Bin" />
              </Directory>
          </Directory>
      </Directory>
      
      <ComponentGroup Id='C_Environment_Configs' Directory='INSTALLLOCATION'>
        <Component Id='Default' Guid='893615F5-9E90-45F7-83C1-63185002C13A'>
          <Condition>CURRENT_ENV="DEFAULT"</Condition>
          <File Source='$(var.HostFileDir)\Env\web.default.config'>
            <CopyFile Id='DefaultWebConfig' DestinationDirectory='INSTALLLOCATION' DestinationName='web.config' />
          </File>
        </Component>

        <Component Id='UAT' Guid='40D0D23E-238A-46EC-B6C7-B7DE7E89A92E'>
          <Condition>CURRENT_ENV="UAT"</Condition>
          <File Source='$(var.HostFileDir)\Env\web.uat.config'>
            <CopyFile Id='UatWebConfig' DestinationDirectory='INSTALLLOCATION' DestinationName='web.config' />
          </File>
        </Component>

        <Component Id='PROD' Guid='3E8214ED-19E1-49D4-A7BB-C7135F1AF987'>
          <Condition>CURRENT_ENV="PROD"</Condition>
          <File Source='$(var.HostFileDir)\Env\web.prod.config'>
            <CopyFile Id='ProdWebConfig' DestinationDirectory='INSTALLLOCATION' DestinationName='web.config' />
          </File>
        </Component>
      </ComponentGroup>

      <!-- Include the generated file list -->
      <Feature Id="F_Configuration" Title="Environment Configuration" Level="1" Description="The environmental configuration" ConfigurableDirectory="INSTALLLOCATION">
        <ComponentGroupRef Id="C_Environment_Configs" />
      </Feature>
      
      <!-- Include the generated file list -->
		  <Feature Id="F_Web_Content" Title="Website Content" Level="1" Description="The website contents" ConfigurableDirectory="INSTALLLOCATION">
			  <ComponentGroupRef Id="C_WEB_CONTENT" />
        <ComponentRef Id="C_RegistryEntries" />
      </Feature>

      <!-- Include the IIS configuration -->
      <Feature Id="F_IIS_Website" Title="IIS Website" Description="The IIS Website and Application Pool" Level="1">
        <ComponentRef Id="C_IIS_Website_Settings" />
      </Feature>

      <InstallExecuteSequence>
      </InstallExecuteSequence>

      <UIRef Id="UIFlow" />

	</Product>
</Wix>